
.contenedor-item-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    border-left: solid 5px black;
    border-right: solid 5px black;
    height: 90px;
    
}
.carrito-vacio{
    text-align: center;
    font-weight: bold;
}
.contenedor-botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: darkgray;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    border-left: solid 5px rgb(90, 89, 89);
    border-right: solid 5px rgb(90, 89, 89);
    height: 90px;
    
}

.imagen-item-carrito{
    height: 80px;
    width: 80px;
    object-fit: contain;
}

.logo-carrito{
    color: black;
    font-family:monospace;
    border-radius: 10px;
    margin: 0 5px;
    padding: 5px;
    background-color: white;
    transition: 1s;
  }
  
  .logo-carrito:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.89);
    transition: 1s;
  }

  .title-carrito{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    text-align:left;
    font-size: 18px;
    margin-left: 5px;
    
  }