.conteiner-ID {
    display: flex;
    justify-content: center;
}

.detail-conteiner {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    border-left: solid 5px black;
    border-right: solid 5px black;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
}

.conteiner-img {
    width: 80%;
    height: 80%;
}

.detail-img {
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.detail-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: solid 1px lightgray;
}

.detail-title {
    color: #37373f;
    margin: 5px 4px 0 0;
    padding: 10px 0;
}

.detail-price {
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    margin: 4px 5px 0 0;
    padding: 10px 0;
    color: #37373f;
}

.detail-counter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}

.detail-description-title {
    font-weight: bold;
    font-size: 24px;
    margin: 5px;
    padding: 10px 0;
    color: #37373f;
}

.detail-description {
    margin: 5px;
    padding: 10px 0;
    color: #37373f;
}


@media (max-width: 1050px){
    .detail-conteiner{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .detail-item{
        flex-direction: column;
    }
    .detail-img{
        width: 100%;
    }
    .detail-counter{
        width: 100%;
        margin-left: 5px;
    }
}