.contenedor-gral {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}

.contenedor-items {
    background-color: #ffff;
    display: inline-block;
    width: 70%;
    height: 100%;
    margin: 0;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
}

@media (max-width: 750px) {
    .contenedor-items {
        width: 90%;
    }
}