.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  margin: 10px;
  border-radius: 15px;
}

.navbar .menu{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.navbar .item{
  margin: 0 4px;
}

.navbar .logo{
  margin: 0 4px;
}
