.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: solid 2px black;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.item {
  margin: 0 4px;
  font-family: monospace;
  font-size: 17px;
  padding: 0 2px;
  border-bottom: solid 2px transparent;
  transition: 0.5s;
}

.item:hover, .item:active {
  border-bottom: solid 2px black;
  font-weight: bold;
  transition: 0.5s;
}

.logo {
  color: white;
  font-family: monospace;
  border-radius: 10px;
  margin: 0 5px;
  padding: 5px;
  background-color: black;
  transition: 1s;
}

.logo:hover {
  color: black;
  background-color: white;
  transition: 1s;
}

@media (max-width: 750px) {
  .menu {
    display: none;
  }
}