body {
  margin: 0 5px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: black;
  cursor: pointer;
  padding:8px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 30px;
  border: 0;
  color: white;
  
  
}

button:hover{
  background-color: white;
  color: black;
  
}
button:active{
  transform: scale(1.03, 1.03);
}
