
.cantidad{
    display: -webkit-inline-flex;
    color: black;
    font-size: 14px;
    margin: 1px 0;
    padding:1px 20px;
    background-color: white;
    border: solid 1px black;
    border-radius: 30px;
}


.itemCountConteiner{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    padding:1px 20px;
    border:solid 1px black;
    border-radius: 30px;
    margin: 1px 0;
    width: 260px;
    background-color: white;
}

.itemCountConteiner .itemCountSpan{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: sans-serif;
    
}
.itemCountButton{
    padding:0 ;
    margin: 0;
    
}
.itemCountButton:active{
    border-radius: 50%;
    background-color:lightgray ;
}
.btnAgregar{
    padding:5px 20px;
    border-radius: 30px;
    margin: 1px 0;
    width: 300px;
}