.categoria-item {
    border-bottom: solid 2px #37373f;
    font-weight: bold;
    font-family: monospace;
    font-style: unset;
    font-size: 30px;
    text-align: left;
    margin: 5px 0 5px 5px;
    color: #37373f;
}